/* Source Editor Styles */
.source-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 5px solid blue;
  /* font-family: 'JetBrains Mono', 'Fira Code', Consolas, monospace; */
  font-family: var(--iris-editor-font-family);
  font-size: var(--iris-editor-font-size);
  /* font-weight: 400; */
}